/* O uso do * aqui é para que possamos dar um RESET em algumas situações que já vem setadas pelo prórpio browser */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}