/********** Style Header **********/

header {
    width: 100%;
    height: 8.8rem;
    background-color: var(--gray-colors-800);
    display: flex;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu-mobile {
    display: none;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    margin-right: 3.2rem;
}

header nav ul li {
    margin-left: 3.2rem;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav .btn-primary {
    padding: 0.9rem 3.4rem;
}

/********** Style Section Hero **********/

.s-hero {
    padding: 72px 0px;
}

.s-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-hero .text {
    width: 100%;
    max-width: 632px;
}

.s-hero .text h1 {
    margin-bottom: 2rem;
}

.s-hero .text p {
    max-width: 488px;
    margin-bottom: 5.6rem;
    font-size: 1.8rem;
}

.s-hero .text .btn-primary {
    padding: 1.7rem 4.1rem;
}

.s-hero .image-hero {
    width: 100%;
    max-width: 48.1rem;
    height: 49.6rem;
    background-color: var(--gray-colors-800);
    display: flex;
    align-items: center;
    justify-content: center;
}

/********** Style Section Card Featured **********/

.s-card-featured {
    background-color: var(--gray-colors-100);
}

.s-card-featured .main-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10.4rem;
    padding-bottom: 12.2rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
}

.s-card-featured .main-area .title {
    text-align: center;

}

.s-card-featured .main-area .title p {
    margin-top: 0.8rem;
    line-height: 150%;
    color: var(--white-colors-text);
}

.s-card-featured .all-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.8rem;
    width: 100%;
    
}

.s-card-featured .all-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.4rem;
    width: 100%;
    max-width: 384px;
    background-color: var(--gray-colors-200);
}


.s-card-featured .all-cards .card .icon {
    margin-bottom: 4rem;
}

.s-card-featured .all-cards .card .info {
    text-align: center;
    max-width: 288px;
    margin-bottom: 8rem;
}

.s-card-featured .all-cards .card .info h3 {
    margin-bottom: 0.8rem;
}

.s-card-featured .all-cards .card .info p {
 
    color: var(--white-colors-text);
}

.s-card-featured .all-cards .card.white {
    background: #FFFFFF;
box-shadow: 0px 16px 80px -4px rgba(194, 37, 92, 0.08);
}

.s-card-featured .all-cards .card.white h3 {
color: var(--gray-colors-100);
}

.s-card-featured .all-cards .card.white p {
    color: var(--gray-colors-300);
}





